h3 {{title}} - {{porcent}}
.input-group
    .input-group-prepend
        button.btn.btn-primary('(click)'="variar('quitar')") 
            i.mdi.mdi-minus
    input.form-control(
        '#txtProgress'=""
        type='number' 
        '[(ngModel)]'="porcent" 
        name="porcent" 
        aria-label='Amount (to the nearest dollar)'
        min='1'
        max='100'
        '(ngModelChange)'="cambioNumero($event)")
    .input-group-append
        button.btn.btn-primary('(click)'="variar('aumentar')")
            i.mdi.mdi-plus